/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*========================================

 Custom styles

=========================================*/

body{
    font-family: sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;

}
/*========================================

 Header Part

=========================================*/
 *{
     box-sizing: border-box;
 }

header{
    display: flex;
    align-items: center;
   
    background-color:#232946;
    padding: 5px 5px 5px 0;
    max-width: 100%;
}
header img{
    width: 150px;
    display: block;
}
.logo{
    margin-left:75px;
}
.nav-bar{
    margin-left: auto;
}
.nav-bar li{
    display: inline-block;
}
 


.nav-bar .fa{
    color: white;
   padding: 3px 5px;
   border-radius: 5px;
    background-color: #4F546B;
}
.nav-bar li{
    color: white;
    padding-left: 20px;
    font-size: 20px;
   
    
}
.nav-bar span{
    padding: 10px;
}


/*===================================

Main Part

=====================================*/

.container{
    display: flex;

   
    
    width: 75%;
   height: auto;
   
  
}



.menu{
    flex: 0 0 40%;
    height: 800px;
    background-color: #A3CAEA;
    margin:3% 10% 3% 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
  
    padding-right: 50px;
   flex-grow: 3;


}
.menu li{
    padding:10px;
    margin-left: 20%;
    margin-top: 5%;
 
}
.menu i{
    padding-right: 10px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    color: #232946;
  font-weight: 900;
}

#artcile a{
    color:#FB7B39;
    
   border-radius: 5px;
    border:3px solid #FB7B39;
    padding: 20px 150px 20px 20px;
    margin-left: -7%;
   
  
  
   
   
}
.button{
    margin:0 8% 15% 10%;
    display: inline;
    background-color: white;
    padding: 20px 0 20px 30px;
    border-radius: 5px;
}
#dashboard{
    margin-left: 15%;
}


/*=======================
Article Part

=======================*/


.display{
  
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.display h2{
    font-size: 40px;
    padding: 20px 0 20px 0;
    font-weight: 900;
    color: #232946;
}
.display p{
    padding: 10px 0 5px 0;
    color: #232946;
}
.btn {
text-decoration: none;
padding: 15px 30px 15px 30px;
background-color:#4DB667;
border-radius: 5px;
margin: 2%;
display: inline-block;
color: white;
font-size: 20px;


}



/*===========================
Footer Part


===========================*/

/*==================================

Footer Part

===================================*/
footer{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: #232946;
    align-items: center;
}
footer small{
    margin-right: auto;
    font-size: 20px;
    color:#B7BCCE;
}

footer .fa:hover {
    opacity: 0.7;
}

footer .fa-facebook,.fa-twitter {
 background-color: rgb(99, 94, 94);
  color: white;

}


footer .fa {
text-decoration: none;

border-radius:5px;
color: white;


}

.buttons a{
    padding: 10px;
}













